.cards{
    border: 1px solid #55917F;
    border-radius: 5px;
    position: relative;
}

.card{
    text-align: center;
    border-right: 1px solid #eee;
    background-color: #fff;
    color: #55917F;
}
.card:nth-last-child(1){
    border: none;
}

.cards-navigation{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}



.media_text{
    display: flex;
    align-items: center;
    flex: 1;
}

.media_text__content{
    background: #0b4e4d;
    flex: 0 0 auto;
    width: 60%;
    position: relative;
    color: #fff;
}

.media_text__content::before{
    content: " ";
    width: 15%;
    height: 100%;
    background: #0b4e4d;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transform: translateX(100%);
}

.media_text__content,
.media_text__content::before{
    background: #0b4e4d;
}

.media_text__image{
    width: 40%;
}

.media_text__image  img {
    width: 100%;
}
.media_text__image > picture{
    position: relative;
    width: 100%;
}